<!DOCTYPE html>
<html>
  <head>
    <title>USER I SAD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body>
    <%- include layout %>
    <h1>USER</h1>
    <p>Welcome to USER</p>
  </body>


</html>
